@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eff5ef;
  font-family: 'Inria Sans', sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;   
}
.main-container {
  display: flex;
}
.left-bar {
    width: 0px;
    min-width:  0;
    max-width: 70px;
    height: 100vh;
    background-color: #202124;
    display: block;
    position: relative;
    top: 0;
    z-index: 2;
    flex: 0;
    transition: min-width 0.5s ease-in-out;
    overflow: hidden;
}

.home-div {
  border-radius: 10px;
  transition: all 0.5s;
}

.home-div:hover {
  background-color: rgba(255, 255, 255, .1);
}

.chat-div {
  border-radius: 10px;
  transition: all 0.5s;
}

.chat-div:hover {
  background-color: rgba(255, 255, 255, .1);
}

.notes-div {
  border-radius: 10px;
  transition: all 0.5s;
}

.notes-div:hover {
  background-color: rgba(255, 255, 255, .1);
}

.pomodoro-div {
  border-radius: 10px;
  transition: all 0.5s;
}

.pomodoro-div:hover {
  background-color: rgba(255, 255, 255, .1);
}

.logo-div {
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: -60px;
  transition: left 0.4s ease-in;
}

.logo-div:hover {
  background-color: rgba(255, 255, 255, .1);
}

.logo-div img {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  width: 35px;
  height: 35px;
  display: block;
  cursor: pointer;
}

.text-holder img {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  width: 35px;
  height: 35px;
  display: block;
  cursor: pointer;
}

.text-holder {
  position: relative;
  margin-top: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: -3px;
  transition: left 0.4s ease-in;
}
.text-holder div{
  width: 60px;
}
.underline {
  position: relative;
  width: 30px;
  height: 1px;
  top: 7px;
  left: 14px;
  background-color: rgba(255, 255, 255, 0.523);
}
.prev-messages {
  position: relative;
  flex: 1;
  flex-shrink: 0;
  border-right: 2px solid rgba(92, 88, 88, 0.686);
}

.current-messages {
    flex-grow: 2;
    min-width: 496px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.user-information {
  display: flex;
  align-items: center;
  background-color: rgba(56, 56, 56, 0.714);
  padding: 10px 10px 10px 10px;
  min-width: 336px;
  min-height: 58px;
}

#profile-picture {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid white;
}
#profile-picture-opp {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#profile-name {
  position: relative;
  font-size: 20px;
  padding: 0px 10px;
  color: white;
}
#profile-name-opp {
  position: relative;
  font-size: 20px;
  padding: 0px 10px;
  color: white;
}
.prev-user {
    max-height: calc(100vh - 90px);
    overflow-y: auto;
  }

#user {
    border-bottom: 1px solid #c3c4c58b;
    width: 100%;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    transition: 0.2s all ease-out;
    cursor: pointer;
}
#user:hover{
    background-color: rgba(184, 184, 184, 0.4);
}
#user h2 {
  position: relative;
  bottom: 6px;
  margin-left: 10px;
  height: 20px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  .material-symbols-outlined.changes {
    font-size: 50px; 
    margin-left: 10px;

  }
  .material-symbols-outlined.with-changes {
    color: white;
    font-size: 35px; 
  }
  .search {
    position: relative;
    padding: 6px;
    right: 10px;
    margin-left: auto;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    cursor: pointer;
}
.search:hover {
  background-color: rgba(193, 193, 193, 0.238);
}

  #profile-picture-opp-prev{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 50%;
  }
  .opp-user-information {
    display: flex;
    align-items: center;
    background-color: rgba(56, 56, 56, 0.714);
    padding: 10px 10px 10px 10px;
    min-width: 336px;
    flex: 0.2;
    max-height: 58px;
    min-height: 58px;
}
.send-message {
    display: flex;
    flex: 0.25;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    border-top: 2px solid rgba(109, 107, 107, 0.326);
    padding: 5px;
}
.send-message textarea{
    width: 90%;
    height: 40px;
    resize: none;
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 10px;
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48
  }
    .material-symbols-rounded.changes {
    font-size: 30px; 
    cursor: pointer;
}
.send-icon{
    padding: 7px;
    border-radius: 50%;
    transition: all 0.5s;
}
.send-icon:hover{
    background-color: rgba(0, 0, 0, 0.101);
}
.live-message {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px;
  flex: 2;
  height: 80vh;
  gap: 2px;
}
#msg1 {
  width: fit-content;
  max-width: 80%;
  border-radius: 20px;
  background-color: firebrick;
  color: white;
  display: flex;
  justify-content: center;
}
#msg1 p {
  margin: 0;
  padding: 6px 10px;
}
.they{
  margin-right: auto;
}
.search-container {
  position: absolute;
  width: 0px;
  height: 100%;
  background-color: #eff5ef;
  border-right:  1px solid #505050;
  transition: width 0.4s ease-out;
  display: none;
}
.search-information {
  display: flex;
  align-items: center;
  background-color: rgb(109 109 109);
  padding: 10px 10px 10px 10px;
  min-height: 58px;
}
#new-chat {
  position: relative;
  font-size: 20px;
  padding: 0px 10px;
  color: white;
}
.arrow_back{
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  padding: 7px;
}
.arrow_back:hover{
  background-color: rgba(193, 193, 193, 0.238);
}
.results{
  padding: 10px;
}
.results input {
  width: 100%;
  height: 5%;
  text-indent: 40px;
  border-radius: 2px;
  border: none;
  outline: none;
  font-family: 'Inria Sans', sans-serif;
}
.results span {
  color: #949090;
  position: relative;
  bottom: 30px;
  margin-left: 10px;
}
.waiter{
  position: absolute;
  left: 48%;
  top: 35%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.waiter p{
  font-size: 23px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(255, 255, 255);
  margin-top: 30px;
}
.spinner{
  height: 90px;
  width: 90px;
  border: 6px solid;
  border-color: rgb(125, 125, 125) transparent rgb(178, 178, 178) transparent;
  border-radius: 50%;
  animation: spin 1.3s ease infinite;
}

.changed-spinner{
  height: 120px;
  width: 120px;
  border: 6px solid;
  border-color: rgb(204, 202, 202) transparent rgb(80, 79, 79) transparent;
  border-radius: 50%;
  animation: spin 0.3s ease-out;
  opacity: 0;
}
.changed-text{
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  position: absolute;
  opacity: 0;
  animation: fadeout 0.3s ease-out;
}
#blur{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(79, 79, 79, 0.622);
  backdrop-filter: blur(8px)
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fadeout{
  from { opacity: 1; }
  to   { opacity: 0; }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
