body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #eff5ef;
}
.left-bar{  
    width: 23%;
    height: 100%;
    background-color: black;
    display: block;
    
}
.nav-left-text{
    color: white;
    font-size: 25px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 2;
    position: relative;
    left: 12vh;
    top: 5vh;
    vertical-align: middle;
}
.underline{
    height: 10px;
    width: 339px;
    color: white;
}
.left-bar p{
    color: white;
    font-family: 'Inria Sans', sans-serif;
    font-size: 25px;
    position: relative;
    left: 19%;
    bottom: 30px;
}
.text-holder img{
    width: 35px;
    height: 35px;
}
.home-div img{
    position: relative;
    top: 30px;
}
.notes-div img{
    position: relative;
    top: 30px;
}
.chat-div img{
    position: relative;
    top: 30px;
}
.text-holder{
    position: relative;
    top: 50px;
}
.new-note{
    width: 250px;
    height: 80px;
    background-color: #D9D9D9;
    position: absolute;
    transform: translate(0%,-400%);
    top: 50%;
    left: 50%;
    border-radius: 11px;
}
.new-note p{
    font-family: 'Inria Sans', sans-serif;
    font-weight: 60px;
    font-size: 25;
    position: relative;
    left: 4vh;
    opacity: 0.5;
}
.new-note img{
    width: 47px;
    height: 47px;
    transform: rotate(45deg);
    position: relative;
    left: 25vh;
    bottom: 9vh;
    opacity: 0.8;
}
.home-div{
    position: relative;
}
.text-holder img{
    left: 5vh;
}
.text-holder p{
    left: 14vh;
}