@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #eff5ef;
}
.left-bar{  
    width: 0px;
    height: 100%;
    background-color: black;
    display: block;
    position: fixed;
    top: 0;
    z-index: 2;
    transition: all 0.5s;
}
.home-div{
    border-radius: 10px;
    transition: all 0.5s;
}
.home-div:hover{
    background-color: rgba( 255, 255, 255, .1);
}.chat-div{
    border-radius: 10px;
    transition: all 0.5s;
}
.chat-div:hover{
    background-color: rgba( 255, 255, 255, .1);
}
.notes-div{
    border-radius: 10px;
    transition: all 0.5s;
}
.notes-div:hover{
    background-color: rgba( 255, 255, 255, .1);
}
.text-holder img{
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    width: 35px;
    height: 35px;
    display: block;
    cursor: pointer;
}
.text-holder{
    position: relative;
    margin-top: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: -20px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.new-note{
    width: 250px;
    height: 50px;
    background-color: #D9D9D9;
    position: absolute;
    transform: translate(0%,30%);
    left: 43%;
    border-radius: 11px;
    font-size: 25px;
    font-family: 'Inria Sans', sans-serif;
    color: rgba(0, 0, 0, 0.329);
    padding: 25px 20px 10px 20px;
    
}
.new-note:hover{
    background-color: #c9c9c9;
}
.cross{
    height: 0px;
}

.new-note img{
    width: 55px;
    height: 55px;
    position: relative;
    left: 194px;
    bottom: 42px;
    opacity: 0.8;
}
.home-div{
    position: relative;
}
.text-holder{
    position: relative;
    margin-top: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.saved-notes {
    background-color: rgba(255, 255, 255, 0.8);
    width: 250px;
    min-height: 250px;
    font-size: 30px;
    text-align: center;
    border-radius: 9px;
    box-shadow: 1px 1px 8px rgb(156, 155, 155);
    background-color: #f4f4f4;
    transition: all 0.3s ease;
}
.saved-notes:hover{
    background-color: white;
}
.saved-notes p{
    font-family: 'Inria Sans', sans-serif;
    font-size: 23px;
    text-align: left;
    position: relative;
    text-overflow: ellipsis;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    word-wrap: break-word;
    --max-lines: 6  ;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    bottom: 55px;
}
.circle {
    width: 5px;
    height: 5px;
    background-color: rgb(205, 51, 51);
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 8px;
    
  }
.trash{
    width: 25px;
    height: 25px;
    position: relative;
    top: 205px;
    left: 100px;
    opacity: 0;
    transition: all 0.2s ease-in;
}
.saved-notes:hover .trash{
    opacity: 0.7;
}
.waiter{
    position: absolute;
    left: 48%;
    top: 35%;
}
.waiter p{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    position: absolute;
    top: 150px;
    left: 22px;
}
.spinner{
    height: 120px;
    width: 120px;
    border: 6px solid;
    border-color: rgb(204, 202, 202) transparent rgb(141, 138, 138) transparent;
    border-radius: 50%;
    animation: spin 1.3s ease infinite;
  }

  .changed-spinner{
    height: 120px;
    width: 120px;
    border: 6px solid;
    border-color: rgb(204, 202, 202) transparent rgb(141, 138, 138) transparent;
    border-radius: 50%;
    animation: spin 1.3s ease infinite;
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  .changed-text{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    position: absolute;
    top: 150px;
    left: 22px;
    opacity: 0;
    transition: all 0.3s ease-out;
  }
.saved-notes{
    animation: fadein 1.5s ease ;
}
#notes1{
    animation: fadeout 1.5s ease;
}
#take-note{
    width: 500px;
    height: 45px;
    border: 1px solid black;
    position: absolute;
    border-radius: 8px;
    top: 50px;
    resize: none;
    padding: 15px 10px 10px 10px;
    transition: height 0.3s ease-in-out;
    font-family: Arial,sans-serif;
    letter-spacing: .01428571em;;
    font-size: .875rem;
    left: 50%;
    transform: translate(-50%,0%);
}

body::-webkit-scrollbar{
    display: none;
}

.saved-notes-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: absolute; 
    grid-gap: 40px;
    position: absolute;
    top: 25%;
    left: 15%;
    padding: 0 0 100px 0;
}

.saved-notes p{
    font-family: 'Inria Sans', sans-serif;
    font-size: 23px;
    text-align: left;
    position: relative;
    text-overflow: ellipsis;
    padding-left: 23px;
    padding-right: 20px;
    overflow: hidden;
    word-wrap: break-word;
    --max-lines: 6    ;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    bottom: 55px;
    margin-bottom: 0px;
}
.saved-notes img{
    top: 200px;
}
.trash{
    width: 25px;
    height: 25px;
    position: relative;
    top: 205px;
    left: 120px;
    opacity: 0;
    padding: 10px 10px 10px 10px;
    transition: all 0.2s ease-in;
}
.saved-notes:hover .trash{
    opacity: 0.9;
}
.pen{
    width: 25px;
    height: 25px;
    position: relative;
    top: 205px;
    left: 35px;
    opacity: 0;
    padding: 10px 10px 10px 10px;
    transition: all 0.2s ease-in;
}

.saved-notes:hover .pen{
    opacity: 1;
}

.saved-notes{
    animation: fadein 1.5s ease ;
}
#notes1{
    animation: fadeout 1.5s ease;
}

#take-notes-container{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%); 
} 
.saved-notes.centered {
    grid-column: 1 / -1;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: scale(1.1);
    position: absolute;
  }
#coverem{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(91, 91, 91, 0.5);
    backdrop-filter: blur(1px); 
    display: none;  
}
#new-created{
    width: 500px;
    height: 250px;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    animation: fadein 0.6s ease-in-out;
    border-radius: 9px;
    background-color: #f4f4f4;
    transition: all 0.3s ease;
    border: none;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    font-family: 'Inria Sans', sans-serif;
    font-size: 27px;
    position: relative;
    text-overflow: ellipsis;
    resize: none;
}
#new-created:focus {
    box-shadow: 1px 2px 8px rgb(105, 105, 105);
    outline: none;
}


#edit-notes-container{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}
.three-lines-container{
    position: absolute;
    width: 40px;
    height: 20px;
    top: 20px;
    left: 20px;
    cursor: pointer;
}
.line-1{
    width: 35px;
    height: 2px;
    background-color: black;
}

.line-2{
    width: 35px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 7px;
}

.line-3{
    width: 35px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 14px;
}
#outer1{
    position: absolute;
    width: 0%;
    height: 0%;
    z-index: 1;
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
@keyframes movein{
    from {
    }
    to{
    height: 100px;
    }
}
@keyframes moveout{
    from {
    height: 100px;
    }

}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeout{
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (max-width: 1430px ){
    .saved-notes-container{
        grid-template-columns: auto auto auto auto  ;
        }
    .new-note{
        left: 43%;
    }
    #take-note{
        width: 500px;
    }
}
@media screen and (max-width: 1280px ){
    .saved-notes-container{
        grid-template-columns: auto auto auto auto  ;
        }

    #take-note{
        width: 450px;
    }
}
@media screen and (max-width: 1366px ){
    .saved-notes-container{
        grid-template-columns: auto auto auto auto  ;
        }
    .new-note{
        left: 45%;
    }
    #take-note{
        width: 450px;
    }
}
@media screen and (max-width: 1248px ){
    .saved-notes-container{
        grid-template-columns: auto auto auto;
        }

}
@media screen and (max-width: 1100px ){
    .saved-notes-container{
        grid-template-columns: auto auto auto;
        }
    .new-note{
        left: 45%;
    }
    #take-note{
        width: 450px;
    }
}