body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(50, 141, 85);
}
.take-notes{
    width: 30%;
    height: 35px;
    background-color: rgb(211, 205, 205);
    position: relative;
    transform: translate(-50%,-50%);
    top: 15%;
    left: 50%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 15px;
    color: #696868;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.219);
    animation: Slide_Up 1s ease;
}
.take-notes::placeholder{
    color: rgb(100, 98, 98);
}
.take-notes:focus{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.603);
}
