@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');
body{
    background: grey;
    font-family: 'Inria Sans', sans-serif;
}

.image-container{
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    left: 50%;
    top: 45%;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    z-index: 2;
    
  }
  .image-container h2{
    margin-left: 15px;
    padding-bottom: 15px;
  }
  .image-container p{
    margin-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .image-container input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin-left: 15px;
  }
  #save-images{
    border-radius: 5px;
    border: none;
    outline: none;
    height: 30px;
    width: 95px;
    position: absolute;
    color: white;
    font-size: 12px;
    background-color: rgb(210, 65, 65);
    bottom: 13px;
    transition: all 0.5s;
  }
  #save-images:hover{
    background-color: rgb(177, 37, 37);
  }
  #file{
      display: none;
  }
  label{
      position: absolute;
      color: white;
      width: 120px;
      height: 50px;
      background-color: rgb(155, 154, 153);
      font-family: 'Inria Sans', sans-serif;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      display: flex;
      cursor: pointer;
      left: 50%;
      top: 85%;
      transform: translate(-50%,-50%);
  }
  .material-icons {
      font-family: 'Material Icons';
      font-weight: normal;
      color: white;
      position: relative;
      z-index: 1;
    }
    .material-icons.chnages { 
        font-size: 28px;
 }
#dotted-preview{
    position: absolute;
    width: 200px;
    height: 200px;
    border: 3px dotted black;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}