body{
    background-color: midnightblue;
}
.testing{
    width: 200px;
    height: 100px;
    border: 1px solid black;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
}
@keyframes movein{
    from {
    transform: translate(-50%,-50%);
    }
    to{
    transform: translate(-50%,-10%);
    width: 300px;
    height: 150px;
    }
}
@keyframes moveout{
    from {
    transform: translate(-50%,-10%);
    width: 300px;
    height: 150px;
    }
    to{
    transform: translate(-50%,-50%);
    width: 200px;
    height: 100px;
    }
}