.tip{
    width: 15px;
    height: 15px;
    background-color: rgb(54, 53, 53);
    transform: rotate(45deg);
    position: absolute;
    top: 15px;
  }
  .box{
    width: 70px;
    height: 30px;
    background-color: rgb(54, 53, 53);
    position: absolute;
    left: 11px;
    border-radius: 8px;
  }
